@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: Azeret Mono;
}
* button:hover {
  cursor: pointer;
}
/* navigation section styles in header*/
.navigation ul {
  list-style: none;
  display: flex;
  gap: 1000px;
  justify-content: center;
}
.name {
  font-size: 28px;
  font-weight: 900;
  color: #0d1321;
}
.btn {
  font-size: 20;
  font-weight: 600;
  color: #0d1321;
  padding: 17px 24px;
  border-radius: 8px;
}

/* banner section styles in header*/
.banner {
  background-image: url(images/Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  text-align: center;
}
.banner-content {
  padding: 26px 221px 48px;
}
.banner-content .tittle {
  font-size: 48px;
  font-weight: 900;
  color: #0d1321;
  line-height: 68px;
}
.banner .sub-tittle {
  font-size: 16px;
  color: #0d1321;
  line-height: 26px;
}
.two {
  padding: 21px 24px;
  background-color: #0d1321;
  color: white;
  margin-top: 32px;
  margin-bottom: 45px;
}

/* why sectin styles in main*/
.why {
  width: 946px;
  background-color: rgba(13, 19, 33, 0.02);
  margin: 50px auto 74px;
  border-radius: 16px;
  padding: 80px 97px;
}
.tittle {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}
.sub-tittle {
  line-height: 26px;
  font-weight: 16px;
  text-align: center;
  padding: 0px 144px;
  opacity: 0.7;
}
.all-content {
  display: flex;
  padding: 48px;
  color: #0d1321;
  gap: 99px;
  border-radius: 16px;
  background-color: white;
  margin: 48px 97px 32px;
}
.content h4 {
  color: #0d1321b4;
  font-size: 24px;
  line-height: 36px;
}
.content p {
  color: #0d1321;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.7;
}
.why-button {
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 600;
}

/* inspiration section styles in main */
.inspiration {
  width: 1140px;
  margin: 0px auto;
}
.inspiration iframe {
  border: 2px solid #0d132120;
  border-radius: 16px;
  padding: 32px;
  margin-top: 48px;
  margin-bottom: 151px;
}

/* target section styles in main */
.target {
  width: 1140px;
  justify-content: center;
  margin: 0px auto;
}
/* curren-target */
.current-skills {
  border-radius: 16px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.current-skills h4 {
  font-size: 24px;
  font-weight: 900;
}
.current-skills p {
  font-size: 16px;
}
.current-skills a {
  text-decoration: none;
  color: #0d1321;
  font-weight: bold;
}
.skill {
  width: 364px;
  padding: 40px;
  margin-top: 48px;
  margin-bottom: 111px;
  border-radius: 16px;
  background-color: #ff4c1e10;
  line-height: 26px;
}
.css {
  background-color: #004ce810;
}
.javaScript {
  background-color: #ffdf0010;
}
/* next-target */
.next-skills h4 {
  font-size: 24px;
  font-weight: 900;
}
.next-skills p {
  font-size: 16px;
}
.next-skills a {
  color: #0d1321;
  font-weight: bold;
}
.next-skills .skill {
  width: auto;
  display: flex;
  gap: 26px;
  align-items: center;
  border: 1px solid #0d132115;
  background-color: white;
  margin-bottom: 24px;
  padding: 40px;
}

/* support section styles in main */
.support {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(images/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1140px;
  border-radius: 16px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
}
.support > h4 {
  font-size: 32px;
  color: white;
  text-align: center;
  padding-top: 64px;
}
.support p {
  color: white;
  line-height: 26px;
  margin-top: 16px;
  opacity: 0.7;
}
.support div {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.support > div > input {
  width: 548px;
  height: 57px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  margin-bottom: 64px;
  padding-left: 20px;
}
.support > div > button {
  height: 57px;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  border: none;
}

/* footer section styles */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  background-color: #0d132103;
}
footer > h4 {
  font-size: 20px;
  font-weight: 600;
}
